<h1>Landing Page of the Day Beta Page</h1>
<link href="//my.betali.st/widget/2jbrpttln.css" rel="stylesheet" /> <script src="//my.betali.st/widget/2jbrpttln.js" id="MyBetaList"></script>
<div class="row">
  <div class="columns eight"></div>
  <div class="columns three">
    <ul>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
  </div>
</div>