<div class="addbox">
  <%= link_to image_tag(@advert.image.url), 
          append_advert_link(@advert.link), 
          :target => "blank" %>
  <h4><%= link_to @advert.name, 
          append_advert_link(@advert.link), 
          :target => "blank" %></h4> 
</div>