<a href="https://twitter.com/share" class="twitter-share-button left" data-lang="en" data-text="Check out this Landing Page: <%= landing_page.title %>">Tweet</a>
<div class="fb-like left" data-send="false" data-layout="button_count" data-width="300" data-show-faces="true" data-font="verdana"></div> 
<%= link_to landing_page.title, landing_page_path(landing_page, :anchor => "#disqus_thread"), :class => "left", 'data-disqus-identifier' => "" %>
